<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-about {% if page.current == 'books' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}books">Books</a></li>
        <!--<li class="nav-fables {% if page.url contains 'fables' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/fables">Fables</a></li>
        <li class="nav-speeches {% if page.url contains 'speeches' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/speeches">Speeches</a></li>
        <li class="nav-fiction {% if page.url contains 'fiction' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/fiction">Fiction</a></li>
        --><li class="nav-author {% if page.current == 'author' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/dipole">Author</a></li>
    </ul>

    
    <form class="newsletter"  
        action="https://tinyletter.com/learningbpm" method="post" target="popupwindow" 
        onsubmit="window.open('https://tinyletter.com/learningbpm', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <h3>Newsletter</h3>
        <label for="tlemail">Enter your email address</label>
        <input type="text" name="email" id="tlemail" />
        <input type="hidden" value="1" name="embed"/>
        <input class="subscribe-button icon-envelope" type="submit" value="Subscribe" />
    </form>
    
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">RSS Feed</a>
</div>
<span class="nav-cover"></span>
